* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    
}
body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
img {
    width: 100%;
    
}
.main {
    width: 950px;
    height: 550px;
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 50px 50px 20px 50px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    
}

.grand-main {
    position: relative;
}

.woman {
    width: 500px;
    margin-left: -120px;
    
}



.grand-main::before{
    content: url(images/illustration-box-desktop.svg);
    position: absolute;
    left: -115px;
    top: 245px;
    
}

h1 {
    margin-bottom: 20px;
}

h1, .dt-ativo {
    color: hsl(238, 29%, 16%);
    font-weight: 700;
}

.faq {
    margin-right: 30px;
    width: 350px;
    height: 500px;
}

.faq-lista dt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 15px;
    cursor: pointer;
}

dt:hover {
    color: hsl(14, 88%, 65%);
}

.dt-ativo {
    font-weight: 700;
}

.dt-ativo::after{
    transform: rotate(-180deg);
}

dd {
    color: hsl(237, 12%, 33%);
    font-size: 12px;
    font-weight: 400;
    display: none;
}

.faq-lista .dds::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    margin-right: 10px;
    background: hsl(240, 5%, 91%);
}

.faq-lista dt::after {
    content: url(images/icon-arrow-down.svg);
    transition: transform .4s;
}

.show {
    display: block;

}

@media (max-width:500px) {
    .main{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
        justify-content: center;
        width: 375px;
        padding: 30px;
        margin-top: 60px;
        overflow: visible;
    } 
    .woman{
        height: 200px;
        margin: 0px;
        margin-top: -130px;
    }
    .woman-img{
        content: url(images/illustration-woman-online-mobile.svg);
        width: 100%;
        height: 100%;
    }
    .grand-main::before{
        display: none;
    }
    .faq{
        margin: 0px;
        padding: 10px;
        height: 435px;
        width: 340px;
    }
    h1{
        text-align: center;
    }
    .faq-lista dt{
        margin: 0px;
        padding-bottom: 5px;
    }
}